.kly img{
    margin-left: 300px;
    position: relative;
}
.fny img{
    position: absolute;
    margin-left: 700px;
    margin-top: -90px;
}
.frhi{
    position: absolute;
    margin-top: -90px;
    margin-left: 100px;
}
.ikrm{
    position: absolute;
    margin-top: 20px;
    margin-left: 350px;
} 
/* body{
    background-color: rgb(247, 198, 240);
} */
















/* .kibili{
    margin-left: 100px;
    margin-top: 200px;
    background-color:rgb(11, 121, 104);
    color: rgb(243, 241, 241);
    padding: 20px 430px;
  margin-top: -20px;
  margin-top: 20px;
}
.kibili h1{
    margin-left: 10px;
    margin-bottom: 20px;
    margin-left: -50px;
}
.kibili p{
    width: 510px;
    font-size: 20px;
    
}
.dooli{
    display: flex;
    gap: 20px;
    font-size: 30px;
    margin-left: 100px;
    margin-top: 20px;
} */












.header{
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    
 }
 ul{
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 23px;
 }
 .btn{
    background-color: transparent;
    border: none;
    background-color: #D67592;
    width: 100px;
    height: 50px;
    font-size: 19px;
    border-radius: 20px;
    margin-top: -10px;
    color: white;
 }
 .kl{
    display: flex;
    margin-top: -30px;
 }
 .kl h1{
    margin-top: 20px;
 }
 .logo img {
    margin-top: -10px;
 }
 .two{
    display: flex;
 }
 ul :hover{
    background-color: #D67592;
    width: 80px;
    height: 40px;
    text-decoration: underline white;
    border-radius: 20px;
    padding: 10px 20px;
 font-size: 27px;
 margin-top: -50px;
 
 
 }
 a{
    text-decoration: none;
    color: black;
 }
 
 


