*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    
}
ul{
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 23px;
}
.btn{
    background-color: transparent;
    border: none;
    background-color: #D67592;
    width: 100px;
    height: 50px;
    font-size: 19px;
    border-radius: 20px;
    margin-top: -10px;
    color: white;
}
.kl{
    display: flex;
    margin-top: -30px;
}
.kl h1{
    margin-top: 20px;
}
.logo img {
    margin-top: -10px;
}
.two{
    display: flex;
}
.ng img{
    margin-top: -30px;
    margin-left: 30px;
    
}
.tx{
    margin-top: 50px;
    margin-left: 150px;
    line-height: 50px;
}
span{
    color: #D67592;
    font-size: 50px;
}
.af{
    background-color: transparent;
    border: none;
    background-color:  #D67592;
    width: 200px;
    height: 50px;
    color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    margin-top: 30px;
    margin-left: 50px;
    /* font-size: 17px; */
}
.w h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    /* text-shadow: 5px 5px 7px rgb(29, 4, 58); */
}
.face img{
    position: relative;
    margin-left: 300px;
}
.lbo{
    margin-top: 100px;
}
.ha{
    position: absolute;
    margin-top: -50px;
    margin-left:90px;
  
}
.kl h1{
    color: #7F44C9;
    margin-bottom: 7px;
}
.o p{
    color: gray;
}
.ween{
    display: flex;
    margin-left: 100px;

}
.kow{
    margin-top: 100px;
}
.sdx{
    display: flex;
   
}
.sdx{
    margin-top: 180px;
    gap: 10px;
    /* margin-right: 10px; */
   /* margin-left: 10px; */
}
.ka h1{
    color: #7F44C9;
    margin-bottom: 7px;
    margin-top: 10px;
}
.oa p {
    color: gray;
}
.sdxa{
    display: flex;
    gap: 30px;
    margin-left: 30px;
    margin-top: 100px;
}
.of h1{
    color: #19191a;
    /* margin-bottom: 70px; */
    margin-top: -150px;
    font-size: 40px;
    margin-left: -50px;
    text-align: center;
   
    width: 500px;
    /* margin-top: -100px; */
}
.s1 img{
    position: relative;
    border-radius: 30px;
    margin-left: 260px;
    margin-top: -10px;
}
.afa img{
    border-radius: 30px;
    margin-left: 530px;
    margin-top: -110px;
    position: absolute;
}
.weena img{
    position: absolute;
    margin-left: 350px;
    border-radius: 30px;
    margin-top: 60px;

}
.w img{
    border-radius: 30px;
   margin-top: 100px;
   margin-left: 250px;
}
.gcn img{
    position:absolute;
    margin-left: 550px;
    margin-top: -100px;
    border-radius: 30px;
}
.tn img{
    position: absolute;
    /* margin-left: 300px; */
    border-radius: 30px;
    margin-top: -500px;
}
/* .ismacil h1{
    display: none;
}
.mv h1{
    display: none;
} */
/* .is{
    display: none;
    display: flex;
    gap: 20px;
} */
/* .ismacil h1 span{
    color: blue;
} */
 .is{
    display: none;
    gap: 20px;
 }
/* i{
    font-size: 30px;
    color: #D67592;
    display: none;
} */
#osm{
    display: none;
    font-size: 30px;
    color: #D67592;
}
.tree{
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: black;
}
ul :hover{
    background-color: #D67592;
    width: 80px;
    height: 40px;
    text-decoration: underline white;
    border-radius: 20px;
    padding: 10px 20px;
font-size: 27px;


}
.b {
   
    display: flex;
    margin-bottom: 100px;
}
.ba img{
    width: 100px;
    height: 100px;
}
.mb{
    margin-bottom: 200px;
}
.kaa{
   margin-left: -200px;
   margin-top: -50px;
}
.PK {
    display: flex;
margin-left: 200px;
gap: 30px;
margin-top: 50px;
margin-bottom: 300px;

}

.Pk1 img{
    border-radius: 20px;
}
.pk2 img{
    border-radius: 20px;
    border: 2px   #D67592  solid;
}
.pk3 img{
    border-radius: 20px;

}
.po p{
    margin-left: 50px;
    font-size: 28px;
}
.yt h1{
    text-align: center;
    margin-top: -100px;
    font-size: 40px;
}
hr{
    border: 3px #D67592 solid;
    margin-left: 550px;
    margin-right: 550px;
}
.Pk1 :hover{
    transform: scale(0.6);
}
.pk2 :hover{
    transform: scale(0.6);
}
.pk3 :hover{
    transform: scale(0.6);
}
/* 5 */

.aaf{
    display: flex;
    gap: 20px;

}
.binti h3{
    margin-top: -1px;
    margin-left: 20px;
}
/* label{
    font-size: 1.2em;
    font-weight: bold;
   
} */
.aaf input{
    width: 200px;
    height: 25px;
    padding-left: 10px;
    /* padding: 5px 30px; */
    border-radius: 20px;
    border: none;
    outline-color: rgb(238, 77, 24);
}
.fy{
    background-color:   rgb(64, 91, 97);
    color: rgb(252, 249, 249);
    width: 400px;
    height: 490px;
   padding: 30px;
   margin-left: 400px;
   /* margin-top: 200px; */
   border-radius: 20px;


   /* margin-bottom: 100px;
   margin-bottom: 40px; */
   /* padding-top: 100px; */
}
.kj{
    background-color: #3b3a3b;
    height: 590px;
padding-top: 50px;
}
span{
    color:  #D67592 ;
}
.aisho{
    margin-top: 30px;
}
.aisho input{
    /* padding: 9px 170px; */
    width: 350px;
    height: 35px;
    padding-left: 15px;
    border-radius: 20px;
    border: none;
    outline-color: rgb(238, 77, 24);
}
.mam{
    /* margin-top: 10px; */
}
.mam input{
    /* padding: 15px 170px; */
    width: 400px;
    height: 190px;
    padding-left: 15px;
    border-radius: 20px;
    border: none;
    outline-color: rgb(238, 77, 24);

}
button{
    margin-left: 150px;
    border: none;
    background-color: transparent;
    background-color: rgb(243, 13, 90);
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-top: -20px;
}
.fy h1{
    text-align: center;
}

/* body{
    background: linear-gradient(45deg ,rgba(red),rgba);
} */
.binti span{
    font-size: 40px;
   margin-left: -10px;
  
}
/* .kj{
    width: 1220px;
    height: 570px;
    background-color: rgb(190, 152, 226);
    padding-top: 20px;
    margin-bottom: 70px;
} */
.imgm img{
    margin-top: -290px;
    position: relative;
}
.imgm1 img{
    position: absolute;
 
margin-left: -130px;
margin-top: -150px;
}
.imgm2 img{
    margin-top: -30px; 
    margin-left: -290px;
}
.imgm4 img{
    position: absolute;
    margin-top: -310px;
}
.imgm5 img{
    margin-top: -150px;
}



.by{
    display: flex;
    margin-bottom: 200px;
    gap: 300px;
}
.fosaey {
    margin-top: 90px;
}
.z img{
margin-left:30px;
box-shadow: 5px 5px 3px black;
border-radius: 60px;
margin-top: 20px;



}
.sy{
    display: flex;
    gap: 10px;
}
.lv img{
    margin-top: 19px;
    box-shadow: 5px 5px 3px black;
    border-radius: 40px;
}
.mri img{
    margin-top: 25px;
    box-shadow: 5px 5px 2px black;
    border-radius: 40px;
   
}
.kursi{
    margin-left: 70px;
}
.kibili{
    /* margin-left: 100px; */
    margin-top: 200px;
    background-color:rgb(22, 22, 21);
    color: rgb(252, 246, 246);
    padding: 20px 430px;
  margin-top: 100px;
  /* margin-top: 10px; */ */
}
.kibili h1{
    margin-left: 110px;
    margin-bottom: 20px;
}
.kibili p{
    width: 510px;
    font-size: 20px;
    
}
.dooli{
    display: flex;
    gap: 20px;
    font-size: 30px;
    margin-left: 100px;
    margin-top: 20px;
}






@media(max-width:480px){


    .header{
        padding: 60px 5px;
    }
    .header ul{
        display: none;
    }
  .ng img{
    position: absolute;
    width: 350px;
    height: 350px;
    margin-top: 150px;
    /* margin-bottom: -60px; */

   
  }
  .two .tx{
    position: relative;
    margin-top: -80px;
/* margin-left: -7px; */
 /* font-size: 10px; */
 margin-left: 30px;
 /* margin-bottom: -100px; */

 
  }
  .qr{
    font-size: 10px;
    margin-left: 50px;
  }
  .qr span{
    font-size: 27px;
  }
  .ween{
    margin-top: 300px;
  }
  .o p{
    display: none;
  }
  .oa p{
    display: none;
  }
  .jk img{
    width: 400px;
    height: 400px;
    margin-top: 200px;
    margin-left: -130px;
    /* margin-right: 500px; */
    position: relative;
  }
  .lbo{
    width: 100px;
    height: 100px;
  }
  .face img{
    width: 30px;
    height: 30px;
   display: none;
  }
 .ha{
    font-size: 10px;
   margin-left: 10px;
   margin-top: 40px;
   display: none;
 }
.af{
    margin-top: -10px;
   
 
}
.tree{
    display: none;
}
/* .ismacil h1{
    display: block;
    font-size: 100px;
    margin-top: 30px;
    margin-left: -200px;
    position: absolute;
    padding-left: -50px;
   padding: 20px 60px;
} */
.is{
    display: flex;
    margin-top: 100px;
    margin-left: -300px;
}
/* .is .mv h1{
    display: flex;
    margin-top: 100px;
    margin-left: -300px;
} */
 .btn{
    display: none;
 }
 #osm{
    display: block;
    margin-right: 20px;
    margin-top: -13px;
    font-size: 35px;
 }
 .w h1{
    display: none;
 }
 .PK{
display: block;
margin-left: -10px;
margin-left: 50px;
font-size: 30px;
margin-top: 0px;
margin-top: 10px;
/* margin-bottom: 30px; */


 }
 .PK p{
    margin-left: -10px;
    margin-left: 40px;
 }
 
 hr{
    margin-left: 0px;
    border: 3px #D67592 solid;
 width: 260px;
margin-left: 60px;
 }
.b{
    display: block;
}
.of h1{
    margin-top: -280px;

}
.kkk {
    margin-top: 150px; 
    margin-left: -40px; 
}
.ba{
    margin-left: -40px;
}
.fy{
    width: 300px;
    height: 400px;
   margin-left: -80px;
   margin-left: 15px;
   margin-top: 100px;

}
.aisho input{
   /* margin-left: -40px; */
   width: 250px;
}
.mam input{
    width: 300px;
}
button{
    margin-left: -30px;
    margin-left: 100px;
    margin-top: -10px;
    margin-top: 10px;
}
.kursi{
margin-top: 230px;
margin-left: -670px;
/* margin-left: 0; */

/* height: 30px; */
/* margin-left: 300px; */

}
/* .by{
    display: block;
  
} */
.fy{
  margin-top: -10px;
  margin-bottom: 50px;
  height: 500px;
}
.kibili{
   padding-left: 60px;
   padding-left: -160px;
   margin-top: -10px;
   margin-top: 16px;
  
   
}
.kibili h1{
    font-size: 30px;
    width: 300px;
    margin-left: 30px;
    margin-left: -5px;
}
/* .kibili p {
    margin-left: 50px;

margin-left: -30px;
width: 340px;
}
.dooli{
    margin-left: -10px;
    margin-left: 10px;
}  */

}